* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;


}
.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
} 

.container {
    padding: 2rem 5rem;
    background-color: #EEEFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);    
  
}

.title {
    text-align: center;
    font-size: 26px;
    color: rgb(48, 42, 70)

}

.form {
    line-height: 1.4rem;
    margin-top: 2rem;
    padding: 3rem 4rem;
    background-color: rgb(245, 240, 240);
    box-shadow: 0 1rem 1rem rgba(49, 49, 66, .3);
}



label {
    font-size: 16px;
    color: rgb(49, 49, 66);
    font-weight: 700;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    padding: .8rem;
    width: 24rem;
    border-radius: 3px;
    border: 1px solid rgba(49, 49, 66, .3)
}

.button-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn {
    border-radius: 3px;
    background-color:rgb(211, 82, 153);
    color: white;
    border: none;
    padding: .7rem;
    cursor: pointer;
    width: 13rem;
    font-size: 19px;
}

.submit-btn:hover {
    background-color:rgb(170, 47, 115);
    transform: translateY(-.1rem);

}

.warning-first-name,
.warning-last-name,
.warning-email,
.warning-password,
.warning-phone,
.warning-bio,
.warning-bio2 {
    color: rgb(235, 150, 22);
    font-weight: 700;
    font-size: 16px;
    

}

.warning {
    color: rgb(235, 150, 22);
    font-weight: 700;
    font-size: 19px;
}

input:focus {
    outline: none;
}
.warning-outline {
    border: 2px solid rgb(218, 62, 62);
}

.thicked {
    border: 2px solid rgb(82, 211, 136);
}

.validated {
    background-color: rgb(0, 255, 98);
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0;
    }

    input {
        width: 20rem;
    }
}

@media screen and (max-width: 360px) {
  
    .form {
        padding: 2rem 3rem;
    }
    input {
        width: 18rem;
    }
}

@media screen and (max-width: 320px) {
   

   
    input {
        width: 15rem;
    }
}